/* Global Changes
-------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 300;
    font-size: 2.6em;
    color: #4D4D4D;
}

h2 {
    font-weight: 300;
    font-size: 1.8em;
    color: #4D4D4D;
}

h3 {
    font-size: 1.4em;
    font-weight: 300;
    color: #4D4D4D;
}

p {
    font-weight: 300;
    font-size: 1.2em;
    color: #4D4D4D;
}

.aligncentre {
    text-align: center;
}


/* Right side column
-------------------------------------------------- */





/* Section One Large
-------------------------------------------------- */
.wide {
    width: 100vw;
    height: 88vh;
    min-height: 511px;
    background-color: #222;
    
}

.bg-overlay-lg {
    background: url(/Media/headerimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #171717;
    height: 94vh;
    min-height: 545px;
    width: 96vw;
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.20);
}

.bg-overlay-sm {
    background: url(/Media/headerimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 96vh;
    min-height: 545px;
    width: 100vw;
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.20);
}

.section-one-logo-lg {
    width: 88px;
    height: 30px;
    margin-top: 3vh;
    margin-left: -10vw;
}

.section-one-logo-sm {
    width: 160px;
    height: auto;
    margin-top: 13.5vh;
}

.section-one-h1-lg {
    color: #fff;
    letter-spacing: 1.73px;
    line-height: 75px;
    font-size: 62px;
}


.section-one-h1-sm {
    color: #fff;
    letter-spacing: 1.12px;
    line-height: 50px;
}

.section-one-text-lg {
  margin-top: 29vh;

}

.section-one-text-sm {
    margin-top: 7vh;
}

.section-one-cta-lg {
    margin-top: 3vh;
    background: #32BE72;
    border: 0;
    border-radius: 5px;
    width: 190px;
    height: 55px;
    padding: 0;
}

.section-one-cta-lg p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    letter-spacing: 1.14px;
    line-height: 55px;
}


.section-one-cta-sm {
    margin-top: 9vh;
    background: #32BE72;
    border: 0;
    border-radius: 5px;
    width: 189px;
    height: 50px;
    padding: 0;
}

.section-one-cta-sm p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    letter-spacing: 1.14px;
    line-height: 50px;
}

.section-one-cta-lg:hover {
background: linear-gradient(rgba(0,0,0,.05), rgba(0,0,0,.05)), #32BE72;
cursor: pointer; 
}

.section-one-cta-sm:hover {
background: linear-gradient(rgba(0,0,0,.05), rgba(0,0,0,.05)), #32BE72;
cursor: pointer; 
}


/* Section Two
-------------------------------------------------- */

#section-two-bg {
    position: absolute;
    z-index: -1;
    width: 98vw;
}

#section-two-bg p {
    font-weight: 600;
    opacity: 0.3;
    color: #2B2B2B;
    font-size: 16px;
    letter-spacing: 1.14px;
    transform: rotate(90deg);
    margin-left: 100%;
    margin-top: 11vh;
}

.section-two-lg h2 {
    font-size: 32px;
    color: #2B2B2B;
    letter-spacing: 2.03px;
    margin-top: 16.8vh;
    margin-left: 3vw;
    font-weight: 400;
}

.section-two-lg h3 {
    margin-left: 3vw;
    margin-top: 1.5vh;
    font-size: 28px;
    color: #2B2B2B;
    letter-spacing: 1.77px;
    font-weight: 300;
    
}

.section-two-lg h4 {
    margin-top: 6vh;
    margin-left: 3vw;
    font-weight: 400;
    font-size: 24px;
    color: #2B2B2B;
    letter-spacing: 1.52px;
}

.section-two-lg p {
    margin-left: 3vw;
    margin-top: 2vh;
    font-size: 18px;
    color: #555555;
    letter-spacing: 1.14px;
    font-weight: 300;
}

.section-two-row {
    width: 90vw;
}

.section-two-sm h2 {
    text-align: center;
    font-size: 30px;
    color: #2B2B2B;
    letter-spacing: 1.9px;
    margin-top: 7vh;
    font-weight: 400;
}

.section-two-sm h3 {
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 21px;
    color: #2B2B2B;
    letter-spacing: 1.33px;
    font-weight: 300;  
    line-height: 1.5em;
}

.section-two-sm h4 {
    text-align: center;
    margin-top: 3.5vh;
    margin-bottom: 0.5em;
    font-weight: 400;
    font-size: 24px;
    color: #2B2B2B;
    letter-spacing: 1.52px;
}

.section-two-sm p {
    text-align: center;
    margin-top: 0.5vh;
    font-size: 18px;
    color: #2B2B2B;
    letter-spacing: 1.14px;
    font-weight: 300;
    line-height: 1.5em;
}

/* Section Three
-------------------------------------------------- */

.section-three-bg {
    height:95.7vh;
    min-height: 595px;
}

#section-three-bg {
    height: 79.3vh;
    min-height: 500px;
    background-color: #F6F6F6;
    margin-top: 10vh;
    padding-top: 6.4vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.section-three-bg-p {
    z-index: -1;
    position: absolute;
    display: inline-block;
    font-weight: 600;
    opacity: 0.3;
    color: #2B2B2B;
    font-size: 16px;
    letter-spacing: 1.14px;
    transform: rotate(-90deg);
    margin-top: 12.5vh;
    margin-left: -2.2vw;
}

.section-three-overlay-lg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #33BE72;
    z-index: 10;
    height: 79.3vh;
    min-height: 500px;
    width: 96.2vw;
    margin-left: 3.8vw;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.10);
}

.section-three-graphic {
    display: block;
    margin: auto;
    width: 66%;
    margin-top: 7.5vh;
}



#section-three-bg h4 {
    margin-top: 7.5vh;
    color: #fff;
    letter-spacing: 1.52px;
    font-size: 24px;
    font-weight: 400;
}

.section-three-sub-p {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.52px;
    line-height: 24px;
    font-weight: 100;
    margin-top: 2.5vh;
}

.section-three-sm {
    background-color: #33BE72;
    margin-top: 7.5vh;
    padding-bottom: 7.5vh;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.10);
}

.section-three-sm h2 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 1.9px;
    margin-top: 7vh;
    font-weight: 400;
}

.section-three-sm h3 {
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 21px;
    color: #fff;
    letter-spacing: 1.33px;
    font-weight: 300;    
}

.section-three-sm h4 {
    text-align: center;
    margin-top: 3.5vh;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    letter-spacing: 1.52px;
}

.section-three-sm p {
    text-align: center;
    margin-top: 0.5vh;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1.14px;
    font-weight: 300;
    line-height: 1.5em;
}

/* Section Four
-------------------------------------------------- */



#section-four-bg {
    position: absolute;
    z-index: -1;
    width: 96.6vw;
}

#section-four-bg p {
    font-weight: 600;
    opacity: 0.3;
    color: #2B2B2B;
    font-size: 16px;
    letter-spacing: 1.14px;
    transform: rotate(90deg);
    margin-left: 100%;
    margin-top: 5.5vh;
}

.section-four-lg h2 {
    font-size: 32px;
    color: #2B2B2B;
    letter-spacing: 2.03px;
    margin-top: 10.4vh;
    margin-left: 3vw;
    font-weight: 400;
}

.section-four-lg h3 {
    margin-top: 1.5vh;
    margin-left: 3vw;
    font-size: 28px;
    color: #2B2B2B;
    letter-spacing: 1.77px;
    font-weight: 300;
}

.section-four-lg-l {
    border-left: 0.5px solid #CCCCCC;
    border-top: 0.5px solid #CCCCCC;
    border-bottom: 0.5px solid #CCCCCC;
    margin-top: 5.5vh;
}

.section-four-lg-m {
    border: 0.5px solid #CCCCCC;
    margin-top: 5.5vh;
}

.section-four-lg-r {
    border-right: 0.5px solid #CCCCCC;
    border-top: 0.5px solid #CCCCCC;
    border-bottom: 0.5px solid #CCCCCC;
    margin-top: 5.5vh;
}

.section-four-lg-icon {
    width: 20%;
    display:block;
    margin: auto;
    margin-top: 7.5vh;
}

.section-four-lg h4 {
    text-align: center;
    margin-top: 2.5vh;
    font-weight: 400;
    font-size: 24px;
    color: #2B2B2B;
    letter-spacing: 1.52px;
}

.section-four-lg p {
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 7.5vh;
    font-size: 18px;
    color: #2B2B2B;
    letter-spacing: 1.14px;
    font-weight: 300;
    padding: 0px 20px 0px 10px;
}

.section-four-lg-logos {
    margin: auto;
    margin-top: 10vh;
    width: 90%;
    display: block;
}


/* Medium */

.section-four-md h2 {
    text-align: center;
    font-size: 30px;
    color: #2B2B2B;
    letter-spacing: 1.9px;
    margin-top: 7vh;
}


.section-four-md h3 {
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 21px;
    color: #2B2B2B;
    letter-spacing: 1.33px;
    font-weight: 300; 
    
}

.section-four-md-l {
    border-left: 0.5px solid #CCCCCC;
    border-top: 0.5px solid #CCCCCC;
    border-bottom: 0.5px solid #CCCCCC;
    margin-top: 7.5vh;
}

.section-four-md-m {
    border: 0.5px solid #CCCCCC;
    margin-top: 7.5vh;
}

.section-four-md-r {
    border-right: 0.5px solid #CCCCCC;
    border-top: 0.5px solid #CCCCCC;
    border-bottom: 0.5px solid #CCCCCC;
    margin-top: 7.5vh;
}

.section-four-md-icon {
    width: 20%;
    display:block;
    margin: auto;
    margin-top: 5vh;
}

.section-four-md h4 {
    text-align: center;
    margin-top: 3.5vh;
    font-weight: 300;
    font-size: 24px;
    color: #2B2B2B;
    letter-spacing: 1.52px;
}

.section-four-md p {
    text-align: center;
    margin-top: 3.5vh;
    font-size: 18px;
    color: #2B2B2B;
    letter-spacing: 1.14px;
    font-weight: 300;
    margin-bottom: 5vh;
}


/* Small */

.section-four-sm h2 {
    text-align: center;
    font-size: 30px;
    color: #2B2B2B;
    letter-spacing: 1.9px;
    margin-top: 7vh;
    font-weight: 400;
}

.section-four-sm h3 {
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 21px;
    color: #2B2B2B;
    letter-spacing: 1.33px;
    font-weight: 300;   
    line-height: 1.5em;
}

.section-four-sm h4 {
    text-align: center;
    margin-top: 3.5vh;
    margin-bottom: 0.7em;
    font-weight: 400;
    font-size: 24px;
    color: #2B2B2B;
    letter-spacing: 1.52px;
}

.section-four-sm p {
    text-align: center;
    margin-top: 0.5vh;
    font-size: 18px;
    color: #2B2B2B;
    letter-spacing: 1.14px;
    font-weight: 300;
    line-height: 1.5em;
}

.section-four-sm-icon {
    width: 20%;
    display:block;
    margin: auto;
    margin-top: 2.5vh;
}

.section-four-sm-t {
    border-left: 0.5px solid #CCCCCC;
    border-top: 0.5px solid #CCCCCC;
    border-right: 0.5px solid #CCCCCC;
    margin-top: 5vh;
    padding-top: 1em;
    padding-bottom: 1em;
}

.section-four-sm-m {
    border: 0.5px solid #CCCCCC;
    padding-top: 1em;
    padding-bottom: 1em;
}

.section-four-sm-b {
    border-right: 0.5px solid #CCCCCC;
    border-left: 0.5px solid #CCCCCC;
    border-bottom: 0.5px solid #CCCCCC;
    padding-top: 1em;
    padding-bottom: 1em;
}

.section-four-sm-logos {
    margin: auto;
    text-align: center;
    margin-top: 10vh;
    width: 90%;
    display: block;
}


/* Section Five 
-------------------------------------------------- */

.section-five {
    padding:0;
    z-index: -1;
}

.section-five-lg {
    min-height: 119h;
    margin-top: 10vh;
    background: linear-gradient(0deg, #F6F6F6 94.3%, #fff 94.3%);
    padding: 0;
    position: absolute;
    z-index: -1;
}


.section-five-lg-bg-p {
    z-index: -1;
    position: absolute;
    display: inline-block;
    font-weight: 600;
    opacity: 0.3;
    color: #2B2B2B;
    font-size: 16px;
    letter-spacing: 1.14px;
    transform: rotate(-90deg);
    margin-top: 15vh;
    margin-left: -0.7vw;
}


.section-five-overlay-pricing{
    background-color: #fff;
    z-index: 0;
    width: 96.2vw;
    margin-left: 3.8vw;
    box-shadow:  0 2px 30px 0 rgba(0,0,0,0.05);
    left: 0;
    min-height: 540px
}

.section-five-lg h2 {
    font-size: 32px;
    color: #2B2B2B;
    letter-spacing: 2.03px;
    margin-top: 0;
    margin-left: 3vw;
    padding-top: 7.5vh;
    font-weight: 400;
}

.section-five-lg h3 {
    margin-top: 2.5vh;
    margin-left: 3vw;
    font-size: 28px;
    color: #2B2B2B;
    letter-spacing: 1.77px;
    font-weight: 300;  
}

.section-five-lg-l {
    border-left: 0.5px solid #CCCCCC;
    border-top: 0.5px solid #CCCCCC;
    border-bottom: 0.5px solid #CCCCCC;
    margin-top: 5vh;
}

.section-five-lg-m {
    border: 0.5px solid #CCCCCC;
    margin-top: 5vh; 
}

.section-five-lg h4 {
    text-align: center;
    margin-top: 5vh;
    font-weight: 400;
    font-size: 24px;
    color: #2B2B2B;
    letter-spacing: 1.52px;
}

.section-five-lg-p {
    text-align: center;
    margin-top: 2.5vh;
    font-size: 18px;
    color: #2B2B2B;
    letter-spacing: 1.14px;
    font-weight: 300;
    padding: 0px 15px 0px 15px;
}

.section-five-cta-lg {
    display: block;
    margin: auto;
    margin-bottom: 5vh;
    background: #32BE72;
    border: 0;
    border-radius: 5px;
    width: 189px;
    height: 50px;
    padding: 0;
}

.section-five-cta-lg:hover {
background: linear-gradient(rgba(0,0,0,.05), rgba(0,0,0,.05)), #32BE72;
cursor: pointer; 
}

.section-five-cta-lg-w {
    display: block;
    margin: auto;
    margin-bottom: 5vh;
    background: transparent;
    border-width: 0.5px;
    border-color: #32BE72;
    border-radius: 5px;
    width: 189px;
    height: 50px;
    padding: 0;
}

.section-five-cta-lg-w:hover {
    background: #32BE72;
}

.section-five-cta-lg-p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    letter-spacing: 1.14px;
    line-height: 50px;
}

.section-five-cta-lg-p-g {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #32BE72;
    letter-spacing: 1.14px;
    line-height: 50px;
}

.section-five-cta-lg-p-g:hover {
    color: #fff;
}


/* S-5 Medium 
--------------------------------------------------*/
.section-five-md {
    background: #F6F6F6;
    margin-top: 10vh;
    padding-bottom: 10vh;
}

.section-five-md h2 {
    text-align: center;
    font-size: 30px;
    color: #2B2B2B;
    letter-spacing: 1.9px;
    margin-top: 7vh;
}

.section-five-md h3 {
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 21px;
    color: #2B2B2B;
    letter-spacing: 1.33px;
    font-weight: 300;  
}

.section-five-md-l {
    border-left: 0.5px solid #CCCCCC;
    border-top: 0.5px solid #CCCCCC;
    border-bottom: 0.5px solid #CCCCCC;
    margin-top: 5vh;
    background: #ffffff;
}

.section-five-md-m {
    border: 0.5px solid #CCCCCC;
    margin-top: 5vh; 
    background: #ffffff;
}

.section-five-md h4 {
    text-align: center;
    margin-top: 3.5vh;
    font-weight: 300;
    font-size: 24px;
    color: #2B2B2B;
    letter-spacing: 1.52px;
}

.section-five-md-p {
    text-align: center;
    margin-top: 3.5vh;
    font-size: 18px;
    color: #2B2B2B;
    letter-spacing: 1.14px;
    font-weight: 300;
    margin-bottom: 5vh;
}


/* S-5 Small 
--------------------------------------------------*/

.section-five-sm {
    background: #F6F6F6;
    margin-top: 10vh;
    padding-bottom: 10vh;
}

.section-five-sm h2 {
    text-align: center;
    font-size: 30px;
    color: #2B2B2B;
    letter-spacing: 1.9px;
    margin-top: 7vh;
    font-weight: 400;
}

.section-five-sm h3 {
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 21px;
    color: #2B2B2B;
    letter-spacing: 1.33px;
    font-weight: 300;  
    line-height: 1.5em;
}

.section-five-sm-l {
    border-left: 0.5px solid #CCCCCC;
    border-top: 0.5px solid #CCCCCC;
    border-right: 0.5px solid #CCCCCC;
    margin-top: 5vh;
    background: #ffffff;
}

.section-five-sm-m {
    border: 0.5px solid #CCCCCC; 
    background: #ffffff;
}

.section-five-sm h4 {
    text-align: center;
    margin-top: 3.5vh;
    font-weight: 400;
    font-size: 24px;
    color: #2B2B2B;
    letter-spacing: 1.52px;
}

.section-five-sm-p {
    text-align: center;
    margin-top: 3.5vh;
    font-size: 18px;
    color: #2B2B2B;
    letter-spacing: 1.14px;
    font-weight: 300;
    margin-bottom: 5vh;
}



/* Feature Large
-------------------------------------------------- */
.section-five-overlay-feature {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    z-index: 0;
    height: 43.3vh;
    width: 96.2vw;
    margin-right: 3.8vw;
    margin-top: 6.4vh;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,0.05);
    min-height: 200px;
    text-align: center;
}

.feature-image {
    background-image: url(/Media/featureimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 43.3vh;
}

.section-five-overlay-feature h2{
    text-align: left;
    font-size: 32px;
    color: #2B2B2B;
    letter-spacing: 2.03px;
    margin-top: 0;
    margin-left: 2.2vw;
    padding-top: 7.5vh;
    font-weight: 400;
}

.feature-paragraph {
    font-size: 22px;
    text-align: left;
    margin-top: 3.5vh;
    letter-spacing: 1.14px;
    line-height: 34px;
    margin-left: 2.2vw;
    margin-bottom: 2.5vw;
}

.feature-cta-lg {
    display: block;
    margin-left: 2.2vw;
    margin-bottom: 5vh;
    background: #32BE72;
    border: 0;
    border-radius: 5px;
    width: 189px;
    height: 50px;
    padding: 0;
}

.feature-cta-lg:hover {
background: linear-gradient(rgba(0,0,0,.05), rgba(0,0,0,.05)), #32BE72;
cursor: pointer; 
}

.feature-cta-lg-p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    letter-spacing: 1.14px;
    line-height: 50px;
    margin-left: 0vw;
}



/* Feature Medium
-------------------------------------------------- */

.feature-image-md {
    background-image: url(/Media/featureimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section-five-feature-md h2 {
    text-align: center;
    font-size: 30px;
    color: #2B2B2B;
    letter-spacing: 1.9px;
    margin-top: 7vh;
}

.section-five-feature-md-p {
    text-align: center;
    margin-top: 3vh;
}


/* Feature Small
-------------------------------------------------- */

.section-five-feature-sm h2 {
    text-align: center;
    font-size: 30px;
    color: #2B2B2B;
    letter-spacing: 1.9px;
    margin-top: 7vh;
    font-weight: 400;
}

.section-five-feature-sm-p {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 21px;
    color: #2B2B2B;
    letter-spacing: 1.33px;
    font-weight: 300;  
    line-height: 1.5em;
}


/* Footer
-------------------------------------------------- */
.footer {
    background-color: #222;
    margin: 0rem 0 0 0;
    width: 100%;
    height: auto;
    z-index: -10;
    position: absolute;
}

.footer-lg-p {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.copyright {
    opacity: 0.7;
    font-size: 1rem;
    letter-spacing: 0.5px
}

.footer a {
    color: #fff;
    font-weight: 500;
}

/* Footer Small
-------------------------------------------------- */
.footer-small {
    background-color: #222;
    width: 100vw;;
    height: 10vh;
    z-index: -10;
    position: absolute;
}

.footer-small p {
    color: #ffffff;
    line-height: 10vh;
    padding-left: 1em;
    font-size: 0.8em;
    opacity: 0.5;
    margin-bottom: -1vh;
}
